<h1> Coding Assignment</h1>
{{{body}}}
 <img src='https://rebrickable.com/static/img/title.png?1550032266.644793'  /><br>
 <br>

<h2> Task </h2>
<p> An application that uses the Rebrickable LEGO API</p>
<a href= '/loadThemes'> Start  </a>